DATABASE_URL=postgresql://postgres:[senha]@db.srvvhlwqzupjrsgoztuk.supabase.co:5432/postgres
SUPABASE_URL=https://srvvhlwqzupjrsgoztuk.supabase.co
CORS_ORIGINS=http://localhost:4200
FRONTEND_URL=http://localhost:4200
RAILS_LOG_TO_STDOUT=true
